.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.div {
    display: block;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.row {
    margin-left: -85px;
}


.col-lg-3
{
 
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}


.tabs-left.nav-tabs {
    border-right: 1px solid #ddd;
}

.tabs-right.nav-tabs, .tabs-left.nav-tabs {
    border-bottom: 0;
}
.nav-tabs {
    border-color: #ccc;
}
.nav-tabs {
    border-color: #337ab7;
    padding-bottom: 1px;
    font-size: 14px;
    margin-bottom: 0;
   /*  padding-left: -110px; */
}
.nav-tabs>li 
{

}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.text-uppercase {
    text-transform: uppercase;
}
.tabs-left.nav-tabs > li {
    float: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li >a{
    position: relative;
    display: block;
}
.border-radius-0 {
    border-radius: 0px !important;
}
.tab-information > li.active > a, .tab-information > li.active > a:hover, .tab-information > li.active > a:focus {
    background:   #ff8a00 !important;
}

.tabs-left.nav-tabs > li > a {
    display: block;
    margin-right: -1px;
}
.tabs-right.nav-tabs > li > a, .tabs-left.nav-tabs > li > a {
    margin-right: 0;
    margin-bottom: 3px;
}
.nav > li > a {
    padding-left: 10px !important;
    padding-right: 70px !important;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
   /*  background: #F4F4F4; */
    color: #000000;
    border-radius: 0;
    padding: 10px 10px;
    border: none !important;
}

/* main */

.tab-content
{
    font-size: 20px;
    padding: 15px 0px;
    font-family: SourceSansPro !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.fade.in {
    opacity: 1;
}
.tab-content > .tab-pane
{
    display: block;
}

.img-responsive
{
    max-width: 100%;
    height: auto;
}