@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  display: block;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  /* background: #fff; */
  font-size: 14px;
  line-height: 1.8;
  color: #333;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.wrapper {
  background: #110bbd;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
  margin-bottom: 0;
}


/* .wrapper.logo a :hover
{
  background: #7c78f5;
} */
.wrapper .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.content .links li {
  list-style: none;
}
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: #7c78f5;
  text-decoration: none;
}
/*.search-icon,*/
.menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 60px;
  text-align: center;
  
}
.search-icon {
  margin-right: 100px;
  margin-left: 20px;
  color: white;
}
.icon-nav a {
  padding: 10px;
  font-size: 20px;
}
.wrapper .menu-icon {
  display: none;
}
#show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 80%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

#show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #110bbd;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.icon-nav {
  font-size: 15px;
}
.wrapper input[type="checkbox"] {
  display: none;
  z-index: 1000;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #110bbd;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}

footer {
  position: relative;
  margin-top: 50px;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  width: auto;
}
.footer-copyright a {
  font-weight: bolder;
  font-size: 17px;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.dark-grey-text {
  color: #4f4f4f !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  margin-top: 70px;
}
.carousel {
  width: 65%;
  /* height: auto; */
  position: relative;
  z-index: 1;
  /* padding-left: 30px; */
  margin-left: -100px;
}
.banright {
  margin-left: 640px;
  margin-top: -280px;
  width: 60%;
}
.ban {
  list-style: none;
  padding: 5px;
}
.ban li img {
  float: left;
  padding: 3px;
  width: 47%;
  height: auto;
}
.bannerto img {
  width: 100%;
  padding-right: 35px;
  padding-left: 15px;
  margin-left: -10px;
}
/********************* Shopping Demo-3 **********************/
.product-grid3 {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
}
.row .product-grid3 {
  margin-bottom: 20px;
  min-height: 390;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-grid3:before {
  content: "";
  height: 81%;
  width: 100%;
  background: #fff;
  /* border:1px solid rgba(0,0,0,.1); */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
}
.product-grid3:hover:before {
  opacity: 1;
  height: 100%;
}
.product-grid3 .product-image3 {
  min-height: 200px;
  position: relative;
}
.product-grid3 .product-image3 a {
  display: block;
}
.product-grid3 .product-image3 img {
  width: 100%;
  height: auto;
}
.product-grid3 .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}
.product-grid3:hover .pic-1 {
  opacity: 0;
}
.product-grid3 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}
.product-grid3:hover .pic-2 {
  opacity: 1;
}
.product-grid3 .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -23px;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.product-grid3:hover .social {
  opacity: 1;
  transform: scale(1);
}
.product-grid3:hover .product-discount-label,
.product-grid3:hover .product-new-label,
.product-grid3:hover .title {
  opacity: 0;
}
.product-grid3 .social li {
  display: inline-block;
}
.product-grid3 .social li a {
  color: #3579f0;
  background: #fff;
  font-size: 18px;
  padding: 10px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid3 .social li a:hover {
  background: #3579f0;
  color: #fff;
}

.product-grid3 .product-discount-label,
.product-grid3 .product-new-label {
  background-color: #0cf53b;
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}
.product-grid3 .product-content {
  z-index: -1;
  padding: 15px;
  text-align: left;
}
.product-grid3 .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
  min-height: 30px;
}
.product-grid3 .title a {
  color: #414141;
}
.product-grid3 .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  display: flex;
  flex-direction: column;

}
.product-grid3 .price .price-old-sale {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
}
.product-grid3 .rating {
  padding: 0;
  list-style: none;
  display: block;
}
.product-grid3 .rating li {
  color: #ffd200;
  font-size: 13px;
  display: inline-block;
}
.product-grid3 .rating li.disable {
  color: #dcdcdc;
}

@media only screen and (max-width: 1200px) {
  .product-grid3 .rating {
    margin: 0;
  }
}
@media only screen and (max-width: 990px) {
  .product-grid3 {
    margin-bottom: 30px;
  }
  .product-grid3 .rating {
    margin: -22px 0 0;
  }
}
@media only screen and (max-width: 359px) {
  .product-grid3 .rating {
    margin: 0;
  }
}

.product-name h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.2;
  text-align: center;
  background-color: #4783fc;
  border-radius: 7px;
  color: #f2f2f2;
  padding: 20px;
}
/* .product-name
{
  padding-right: 110px;
} */
.bannermain1 {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.bannermain1 img {
  width: 80%;
}
/* product main */
.box-common {
  margin: 110px;
  padding-left: 80px;
  display: block;
  margin-bottom: 20px;
}
.box-common__top {
  margin-bottom: 15px;
}

.clearfix {
  display: block;
  clear: both;
}
.box-common__title {
  /* float: left; */
  font-size: 28px;
  font-weight: bold;
  line-height: 29px;
  width: 32%;
}
.box-common_main {
  margin-bottom: 100px;
}

.slick-slide {
  height: 46%;
}

.box-common_main {
  position: relative;
}

.next-slider,
.prev-slider,
.next-slider1,
.prev-slider1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  z-index: 10000;
  background-color: rgba(1, 1, 1, 0.1);
  padding: 10px 5px;
  font-size: 28px;
}

.next-slider,
.next-slider1 {
  right: 0;
}

.listproduct {
  border-left: 1px solid #f1f1f1;
  width: 100%;
  border-top: 1px solid #f1f1f1;
}

.item_sp {
  padding: 20px;
}

 .item_sp {
  /* float: left; */
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  padding: 10px 15px 20px;
  overflow: hidden;
}
img {
  width: 100%;
}


.box-common_top h5 {
  font-size: 15px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.box-p {
  margin-top: 5px;
  text-decoration: none;
}

.price-old {
  color: #666;
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  text-decoration-line: line-through;
}
.percent {
  color: #333;
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
}
.price {
  color: #222;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 5px;
}
a h3 {
  color: #000;
  font-size: 17px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
 .item-rating {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
}
 .item-rating p {
  display: inline-block;
}
/* .listproduct a .ten
{
  color: #14181f;
} */
a .ten:hover {
  color: #3579f0;
}
.rating li {
  color: #ffd200;
  font-size: 13px;
  display: inline-block;
}

.rating li.disable {
  color: #dcdcdc;
}
.listproduct .item_sp .item_img i img:hover {
  transform: translateY(-10px);
  transition: 0.3s all ease;
}

/*Css-new*/

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.name-product > h4 {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.list-featured-product > ul {
  display: flex;
}

.list-featured-product > ul > li {
  margin: 0 5px;
  list-style: none;
  border: 1px solid gray;
  padding: 6px 10px;
  border-radius: 16px;
  font-size: 12px;
}

.list-featured-product > ul > li > a {
  text-decoration: none;
}


/*item-box*/
.box-image {
  margin: 50px 0;
}

.item-box > ul {
  display: flex;
  justify-content: space-between;
}

.item-box > ul > li {
  list-style: none;
}

.item-box > ul > li > a > img {
  border-radius: 6px;
}

.ps-rl {
  margin: 0 10px;
}

.box-news {
  display: flex;
  justify-content: space-between;
}

.second-news {
  margin: 0 20px;
  padding-top: 65px;
}

.seconnd-news-item {
  display: flex;
  margin-bottom: 20px;
}

.seconnd-news-item > .image-news > img {
  width: 150px;
  margin-right: 10px;
  border-radius: 3px;
}

.content-news {
  max-width: 550px;
  margin-bottom: 10px
}

.content-news > a:hover {
  text-decoration: none;
}

.content-news > a {
  font-size: 14px;
}

.time-news-second {
  font-size: 14px;
}

.link-see > a {
  font-size: 20px;
}


.links > li::before {
    content: '';
    height: 35px;
    width: 87px;
    position: absolute;
    bottom: -10px;
    margin-left: 15px;
}

.logo > a > img {
  width: 230px;
}


.links li:hover
